@model IEnumerable<ProgrammingVocabulary.Models.Vocabulary>

@{
    ViewData["Title"] = "Quiz";
}

<h2>Quiz yourself</h2>





@foreach (var item in Model)
{


    <div class="flip-card">
        <div class="flip-card-inner">
            <div class="flip-card-front-quiz">
                <h1>
                    @Html.DisplayFor(modelItem => item.Word)
                </h1>
               
            </div>
            <div class="flip-card-back">
                <script>

                </script>


                


                <p>
                    @Html.TextArea("definition", null, new { @class = "form-control" })

                </p>
                <p>Check your answer at the link</p>

                <p>
                    <a href=" @Html.DisplayFor(modelItem => item.Link)" target="_blank">@Html.DisplayFor(modelItem => item.Link)</a>
                </p>


                <td>
                    <a asp-action="Edit" asp-route-id="@item.VocabularyId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.VocabularyId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.VocabularyId">Delete</a>
                </td>
            </div>
        </div>
    </div>

}

