@model IEnumerable<ProgrammingVocabulary.Models.Vocabulary>

@{
    ViewData["Title"] = "My Vocabulary Study List";
}

<h2>My Vocabulary Study List</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Word)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Definition)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Link)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Language)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Word)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Definition)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Link)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Language.Name)
                </td>
                <td>
                <td>
                    <a asp-action="FavoriteVocabulary" asp-route-id="@item.VocabularyId" class="navbar-brand">Save</a>
                    <a asp-action="Edit" asp-route-id="@item.VocabularyId" class="navbar-brand">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.VocabularyId" class="navbar-brand">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.VocabularyId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
