@model IEnumerable<ProgrammingVocabulary.Models.Vocabulary>

@{
    ViewData["Title"] = "C# .Net";
}

<h2>C# FlashCards</h2>

@foreach (var item in Model)
{


    <div class="flip-card">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <h1>
                    @Html.DisplayFor(modelItem => item.Word)
                </h1>
            </div>
            <div class="flip-card-back">
                <a href="~/Views/Vocabulary/GetCSharp.cshtml">~/Views/Vocabulary/GetCSharp.cshtml</a>
                <p>
                    @Html.DisplayFor(modelItem => item.Definition)

                </p>

                <p>
                   <a href=" @Html.DisplayFor(modelItem => item.Link)" target="_blank">@Html.DisplayFor(modelItem => item.Link)</a>
                </p>

                <p>
                    @Html.DisplayFor(modelItem => item.Language)
                </p>
            


    <td>
        <a asp-action="Edit" asp-route-id="@item.VocabularyId">Edit</a> |
        <a asp-action="Details" asp-route-id="@item.VocabularyId">Details</a> |
        <a asp-action="Delete" asp-route-id="@item.VocabularyId">Delete</a>
    </td>
    </div>
    </div>
    </div>

}
    </tbody>
</table>
